PORT='1017' 
HOST='http://localhost:'
MONGO_ATLAS_URI=''
QUERY_PARAMETERS=''
DB_NAME='/xsj-users'
DB_USER_PASSWORD='IhvkxnDwROpiDZpd'
DB_USER='root'
DB_USERS_COLLECTION_EMAILS='emails'
DB_USERS_COLLECTION_USERS='/xsj-consulting-users'
GMAIL_SMTP='smtp.gmail.com'
GMAIL_PORT=465
GMAIL_ACCOUNT='devgrusolutions@gmail.com'
GMAIL_PASSWORD='guessassholes'
JWT_SECRET=''
NODE_ENV='dev'
STRIPE_PUBLISHABLE_KEY='pk_test_51MHeHKJrkE18sY2VuaebQHXeGq40ilkf6BIXhXyVnPoufvuwLYUQnlBNLkkX05iFuU3cRT7W8NZHvP2tFaMBHCU2001EJNE4BV'
STRIPE_SECRET_KEY='sk_test_51MHeHKJrkE18sY2VFfxBFOoouIRyD4RJOXidnVEzwBSaQO8zKLWhZef7JpJl1jf5HtxKCMGXWLBlvssHnovztosp00raUo89Ef'